%h2 New event

= form_for (@event) do |f|

    %div
        = f.label :name
        = f.text_field :name

    %div
        = f.label :name
        = f.text_field :name

    %div
        = f.label :name
        = f.text_field :name

    %div
        = f.label :name
        = f.text_field :name

    %div
        = f.label :name
        = f.text_field :name

    %div
        = f.label :name
        = f.text_field :name

    %div
        = f.label :name
        = f.text_field :name
