= simple_form_for(@event) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :date
    = f.input :description
    = f.input :city
    = f.input :place
    = f.input :type
    = f.input :price
    = f.input :logo
    = f.input :website
    = f.input :twitter
    = f.input :hashtag
    = f.input :regurl
    = f.input :speakers
    = f.input :schedule
    = f.input :slug

  .actions
    = f.button :submit
